datasets==3.2.0
evaluate==0.4.3
fastapi==0.115.6
numpy==1.26.4
pandas==2.2.3
pydantic==2.10.5
scikit-learn==1.6.1
torch==2.1.2
torchinfo==1.8.0
torchvision==0.16.2
transformers==

--extra-index-url https://download.pytorch.org/whl/cpu
